@model Day7.Models.MembeModel;
@{
    ViewData["Title"] = "Update";
}
@using (Html.BeginForm())
{
    <div class="input-group pl-1 h-25"> </div>
    <div class="form-group">

        <label for="FirstName">First Name: </label>
        <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Html.DisplayFor(m=>m.FirstName)" />
    </div>

    <div class="form-group">
        <label for="LastName">Last Name: </label>
        <input type="text" class="form-control" id="LastName" name="LastName" value="@Html.DisplayFor(m=>m.LastName)" />
    </div>

    <div class="form-group">
        <label for="Gender">Gender: </label>
        <select class="form-control" name="Gender" id="Gender">
            <option value="None" selected>Please select a gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>

    <div class="form-group">
        <label for="DateOfBirth">Date Of Birth </label>
        <input type="datetime-local" class="form-control" id="DateOfBirth" name="DateOfBirth" />
    </div>

    <div class="form-group">
        <label for="PhoneNumber">Phone Number: </label>
        <input type="tel" class="form-control" id="PhoneNumber" value="@Model.PhoneNumber" name="PhoneNumber"
        pattern="[0-9]{10}" />
    </div>

    <div class="form-group">
        <label for="BirthPlace">Birth Place: </label>
        <input type="text" class="form-control" id="BirthPlace" value="@Model.BirthPlace" name="BirthPlace" />
    </div>

    <div class="form-group">
        <label>Have you graduated? </label>
        <div class="form-check">
            <input type="radio" id="yes" name="IsGranduated" value="Yes" />
            <label for="yes">Yes</label>
            <input type="radio" id="no" name="IsGranduated" value="No" />
            <label for="no">No</label>
        </div>
    </div>

    <input class="btn btn-dark px-4 ml-2" type="submit" value="UpdatePeople" />
    <a class="btn btn-dark ml-2" href="@Url.Action("Index","Member")">Back To List</a>
}

@using (Html.BeginForm("DeletePeople", "Member", FormMethod.Post, new { @id = "Delete" }))
{
    @Html.HiddenFor(Model=>Model.id)
    <button type="submit" value="@Model " class="btn-danger">Delete</button>
}
